/* Navbar */
.navbar {
    height: 60px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  }
  
  .navbar-brand {
    font-size: 2rem;
    margin-left: -140px;
  }
  
  .navbar-toggler {
    border: none;
    margin-bottom: 10px;
  }
  
  .collapse {
    margin-right: -100px;
  }
  
  .collapse .navbar-nav {
    gap: 20px;
  }
  
  .collapse .navbar-nav .nav-link {
    color: black;
    padding: 5px 10px;
    font-size: 1.3rem;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .collapse .navbar-nav .nav-link:hover {
    background-color: #555;
    color: white;
    border-radius: 4px;
  }
  
  .collapse .navbar-nav button {
    background-color: #4070f4;
    color: white;
    border: none;
    height: 35px;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    padding: 0 20px;
    margin-top: 3px;
  }


  @media (max-width: 768px) {

    .navbar-brand {
        margin-left: 0;
      }

      .collapse {
        margin-right: 0;
      }
      .collapse .navbar-nav .nav-link {
    color: black;
      }

      .navbar-collapse {
        background-color: white;
        padding: 1rem;
        width: 100%;
        border-radius: 10px;
        transition: transform 0.1s ease;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
      
      }
  }

.carousel-inner img{
height: 65vh;
object-fit: cover;
margin-top: 60px;
}

.container-fluid{
background-image:url('C:\Users\eremo\Desktop\e-bursary main\client-side\public\image\about.jpg');
background-size: cover;
background-position:center;
background-repeat:no-repeat;
width:100%;
height:60vh;
margin-top:60px;
color:white;
}

.container-fluid1{
background-image:url('C:\Users\eremo\Desktop\e-bursary main\client-side\public\image\payment.jpg');
    background-size: cover;
    background-position:center;
    background-repeat:no-repeat;
    width:100%;
    height:60vh;
    margin-top:60px;
    color:white;
    }
    .container-fluid1{
      background-image:url('C:\Users\eremo\Desktop\e-bursary main\client-side\public\image\contact.jpg');
          background-size: cover;
          background-position:center;
          background-repeat:no-repeat;
          width:100%;
          height:60vh;
          margin-top:60px;
          color:white;
          }


.blur{
background:rgba(0, 0, 0, 0.5) ;
backdrop-filter:blur(10px);
height: 80px;
}

.blur h2{
font-size: 3rem;
margin-top: 10px;
}

@media(max-width:768px){
    .carousel-inner img{
        height: 40vh;
        object-fit: cover;
        margin-top: 30px;
        }

.container-fluid{
background-image:url('C:\Users\eremo\Desktop\e-bursary main\client-side\public\image\about.jpg');
background-size: cover;
background-position:center;
background-repeat:no-repeat;
width:100%;
height:40vh;
margin-top:60px;
color:white;
}

.container-fluid1{
background-image:url('C:\Users\eremo\Desktop\e-bursary main\client-side\public\image\payment.jpg');
background-size: cover;
background-position:center;
background-repeat:no-repeat;
width:100%;
height:40vh;
margin-top:60px;
color:white;
}
        
        .blur{
        background:rgba(0, 0, 0, 0.5) ;
        backdrop-filter:blur(10px);
        height: 60px;
        }
        
        .blur h2{
        font-size: 1.3rem;
        margin-top: 4px;
        }
}

.content-section{
margin-top: 80px;
margin-left: 20px;
margin-right: 20px;
}

.content-section .p-4{
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
border-radius: 8px;
}

.content-section .p-4 h2{

}

.content-section .p-4 p, .list-group .list-group-item{
font-size: 1.2rem;
color: rgb(140, 140, 140);
text-align: left;
font-weight: 400;
}

@media(max-width:768px){
    .content-section .p-4 p, .list-group .list-group-item{
font-size: 1.1rem;
color: rgb(140, 140, 140);
text-align: left;
font-weight: 400;
 }
}

